<!DOCTYPE html>
<html>
<head>

    <title>Profile</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <div class="logo">
        🎬 MediaHub
    </div>

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="/movies">Movies</a></li>

        <li><a href="/favorites">Favorites</a></li>

    </ul>

</nav>

<div class="container">

    <div class="profile-box">

        <img src="{{ user.avatar }}">

        <h1>{{ user.username }}</h1>

        <br>

        <p>{{ user.bio }}</p>

    </div>

    <h1>Recently Viewed</h1>

    <br><br>

    <div class="movies-grid">

        {% for movie in recent %}

        <div class="movie-card">

            <img src="https://ui-avatars.com/api/?name={{ user.username }}&background=6C63FF&color=fff&size=200">

            <h3>{{ movie.title }}</h3>

        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>