<!DOCTYPE html>
<html>
<head>

    <title>Watchlist</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <div class="logo">
        🎬 MediaHub
    </div>

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="/movies">Movies</a></li>

        <li><a href="/favorites">Favorites</a></li>

    </ul>

</nav>

<div class="container">

    <h1>My Watchlist</h1>

    <br><br>

    <div class="movies-grid">

        {% for movie in watchlist %}

        <div class="movie-card">

            <img src="https://image.tmdb.org/t/p/w500{{ movie.image }}">

            <h3>{{ movie.title }}</h3>

            <p>⭐ {{ movie.rating }}</p>

            <div class="buttons">

                <a href="/delete_watchlist/{{ movie.id }}">
                    <button>Delete</button>
                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>